<head>
  {% include analytics.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
  
  <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
  <link rel="stylesheet" href="/assets/css/styles.css">
  
  <script type="text/javascript"
          id="MathJax-script"
          async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
