* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: $text-primary-color;
  background: $default-bg-color;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 32px;
  }
}

.h1 {
  margin-bottom: 20px;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.1;

  @media screen and (min-width: $tablet) {
    margin-bottom: 26px;
    font-size: 42px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 46px;
    font-size: 48px;
  }
}

.h2 {
  margin-bottom: 24px;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 1;
  color: $text-header-top-color;

  @media screen and (min-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
  }

  &_white {
    color: $text-primary-color;
  }

  &_accent {
    color: $main-accent-color;
  }

  &_additional {
    color: $additional-color;
  }
}

.h3 {
  margin: 0 0 8px;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.25;
  color: $text-primary-color;

  @media screen and (min-width: $tablet) {
    margin: 0 0 14px;
    font-size: 24px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 0 20px;
    font-size: 32px;
  }

  &_ta-right {
    text-align: left;
    @media screen and (min-width: $tablet) {
      text-align: right;
    }
  }

  &_mb-10 {
    margin-bottom: 10px;
  }
}

.btn {
  padding: 0;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $text-primary-color;
  cursor: pointer;
  border: 2px solid $additional-accent-color;
  border-radius: 0 18px;
  outline: none;
  background: transparent;

  &:hover,
  &:active {
    background: rgba(255, 255, 255, 0.1);
  }

  &_colorful {
    color: $additional-color;
    border: 2px solid $additional-color;

    &:hover,
    &:active {
      background: rgba(18, 163, 102, 0.1);
    }
  }

  a, span {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    color: inherit;
  }

  &_cookie {
    white-space: nowrap;
    border: none;
    background: $attention-color;

    &:hover,
    &:active {
      background: lighten($attention-color, 11%);
    }

    a {
      padding: 4px 24px;
    }

    &:not(:last-child) {
      margin-right: 14px;
      @media screen and (min-width: $tablet) {
        margin-right: 24px;
      }
    }
  }
}

.logo {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }

  &-img {
    display: block;
    width: 73px;
    height: 73px;

    @media screen and (min-width: $tablet) {
      width: 134px;
      height: 134px;

      .logo-documentation &,
      .page-error &,
      .page-privacy & {
        display: block;
        width: 104px;
        height: 31px;
      }
    }

    @media screen and (min-width: $desktop) {
      width: 167px;
      height: 167px;

      .logo-documentation &,
      .page-error &,
      .page-privacy & {
        width: auto;
        height: auto;
      }
    }
  }

  a {
    display: block;
  }
}

.logo-menu-mobile {
  display: none;

  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: $main-container-sm;
    padding: 24px 24px 24px 21px;
    background: transparent;
  }

  .menu-open & {
    position: fixed;
    top: 0;
    z-index: 27;
    background: $default-bg-color;
  }

  .documentation & {
    width: calc(100% + 48px);
    margin: 0 -24px;

    .menu-open & {
      width: 100%;
    }
  }

  & .logo {
    display: block;
    padding: 3px;
    border-radius: 50%;

    .menu-open &,
    .page-error &,
    .page-privacy &,
    .documentation-body &,
    .redoc-header & {
      background: linear-gradient(270.42deg, #8259FF 0.44%, #2330FA 68.36%, #6070FF 97.14%);
    }
  }
}

.mobile-menu-btn {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(89.27deg, #5345FD 0.58%, #7353FF 98.11%);
  transition: 0.3s;

  .menu-open &,
  .page-error & {
    background: $default-bg-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 16px;
    left: 8px;
    width: 24px;
    height: 2px;
    border-radius: 5px;
    background-color: $text-primary-color;
    transition: 0.3s;

    .menu-open &,
    .page-error & {
      background-color: $text-secondary-color;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 24px;
    left: 8px;
    width: 24px;
    height: 2px;
    border-radius: 5px;
    background-color: $text-primary-color;
    transition: 0.3s;

    .menu-open &,
    .page-error & {
      background-color: $text-secondary-color;
    }
  }

  &.menu-open:before {
    top: 20px;
    left: 8px;
    transform: rotate(45deg);
  }

  &.menu-open:after {
    top: 20px;
    left: 8px;
    transform: rotate(-45deg);
  }
}

.main-menu {
  &__item {
    position: relative;
    display: none;
    text-decoration: none;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: $text-primary-color;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      display: none;
      width: 100%;
      height: 2px;
      background: #63C89D;
    }

    &:hover:before {
      display: block;
    }

    &.active:before {
      display: block;
    }

    @media screen and (min-width: $tablet) {
      display: inline-block;
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: 28px;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    align-self: flex-start;
    margin-bottom: 36px;
    margin-left: auto;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;

    .documentation & {
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: $desktop) {
    margin-bottom: 80px;
    font-size: 12px;
    line-height: 14px;
  }

  &_dark {
    .documentation & {
      margin-top: 0;
    }

    .main-menu__item {
      color: $text-secondary-color;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px 24px 24px 24px;
  background: $default-bg-color;
  transition: 0.5s;
  transform: translateY(-100%);

  &.menu-open {
    z-index: 26;
    display: flex;
    height: 100vh;
    transition: 0.5s;
    transform: translateY(0);
  }

  &__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: 80px;
  }
}

.main-menu-mobile {
  display: flex;
  overflow: auto;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 151px); //151 -header + margin
  padding: 0;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.075em;
  text-transform: uppercase;

  &__item {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $text-secondary-color;
    transition: 0.5s;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      display: none;
      width: 100%;
      height: 2px;
      background: $additional-color;
    }

    &:hover:before {
      display: block;
    }

    &.active:before {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header {
  background: linear-gradient(270.42deg, #8259FF 0.44%, #2330FA 68.36%, #6070FF 97.14%);

  &__item {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    @media screen and (min-width: $tablet) {
      align-items: flex-start;
      flex-flow: row nowrap;
    }
  }

  &__title {
    padding: 0 24px;
    font-size: 16px;
    line-height: 23px;
    text-align: left;

    @media screen and (min-width: $tablet) {
      margin: 24px 0 0 47px;
      padding: 0;
      font-size: 19px;
      line-height: 31px;
    }

    @media screen and (min-width: $desktop) {
      margin: 12px 12px 0 60px;
      font-size: 28px;
      line-height: 45px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: $main-container-sm;
    margin: 0 auto;
    padding: 0 0 40px;

    @media screen and (min-width: $tablet) {
      padding: 44px 0 64px;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 44px 0 90px;
    }

    .menu-open & {
      max-width: 100%; 
    }
  }

  &__btn {
    margin-top: 32px;

    a {
      display: flex;

      & img {
        margin-left: 16px;
      }
    }

    @media screen and (min-width: $tablet) {
      margin-top: 46px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 60px;
    }
  }
}


/*Common font styles */

%font-description-italic {
  position: relative;
  font-family: 'Italic', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: $text-secondary-color;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 5px;
    height: 50px;
    background: $line-bg-color;
    transform: translateY(-50%);
  }

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

%font-base-regular {
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

%font-title-bold {
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

%font-title-semiBold {
  font-family: 'SemiBold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 1px;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

/*Common font styles end*/


/*Solutions*/

.solutions {
  display: grid;
  max-width: $main-container-sm;
  margin: 0 auto;
  padding: 40px 24px;
  color: $text-secondary-color;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;

  @media screen and (min-width: $tablet) {
    padding: 40px 0;
  }

  @media screen and (min-width: $desktop) {
    max-width: $main-container-middle;
    padding: 40px 0 28px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__chips {
    position: relative;
    z-index: 5;
  }

  &__text {
    @extend %font-description-italic;
    padding: 8px 0 8px 20px;

    @media screen and (min-width: $desktop) {
      padding: 16px 0 16px 20px;
    }
  }
}

.chips-inner {
  display: flex;
  flex-flow: column nowrap;

  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 80px 21px 80px;
    border-radius: 30px;
    background: $default-bg-color;
  }

  @media screen and (min-width: $desktop-lg) {
    padding: 8px 132px 21px 132px;
  }
}

.chip {
  @extend %font-base-regular;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex-shrink: 0;
  margin: 0 6px 10px 0;
  padding: 10px 20px 10px 10px;
  color: $text-very-dark-color;
  border: 1px solid $supporting-color;
  border-radius: 30px;

  &:last-of-type {
    margin: 0;
  }

  @media screen and (min-width: $tablet) {
    width: max-content;
  }

  &__img {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
  }
}


/* Solutions details*/

.solutions-details {
  position: relative;
  padding: 0 0 50px;
  background: $dark-bg-color;
  background: rgba(57, 57, 78, 0.8);

  @media screen and (min-width: $desktop) {
    padding: 0;
  }
  
  &__content {
    display: grid;
    max-width: $main-container-sm;
    margin: 0 auto;
    padding: 50px 24px 40px;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    
    @media screen and (min-width: $tablet) {
      max-width: $main-container-sm;
      padding: 50px 0 40px;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 70px 0;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      row-gap: 95px;
    }
  }
}

.solutions-details-img-inner {
  display: flex;
  width: max-content;
  max-width: 80%;
  border-radius: 0 30px 30px 0;
  background: $default-bg-color;
  

  @media screen and (min-width: $desktop) {
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 48vw;
    max-width: 48vw;
  }
}

.solutions-details-img {
  display: block;
  max-width: 100%;
  margin: 0;

  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}

.details-block {
  @extend %font-base-regular;
  display: flex;
  flex-flow: column nowrap;
  color: $text-primary-color;

  &__title {
    @extend %font-title-semiBold;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__img {
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 12px 0 0;

    @media screen and (min-width: $tablet) {
      width: 64px;
      height: 64px;
      margin: 0 20px 0 0;
    }
  }

  &:last-of-type {
    @media screen and (min-width: $desktop) {
      grid-column-end: -1;
    }
  }
}


/*Platform*/

.platform {
  &__content {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    max-width: $main-container-sm;
    margin: 0 auto;
    padding: 50px 24px 20px;
  
    @media screen and (min-width: $tablet) {
      padding: 50px 0 20px;
    }
  
    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 70px 0 35px 0;
    }
  }
}

.platform-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    flex-flow: row nowrap;
    margin-top: 24px;
  }
}

.description-item {
  @extend %font-title-bold;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: $text-secondary-color;

  @media screen and (min-width: $desktop) {
    width: 30%;
  }

  &__img {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 0 10px;
  }
}

.platform-chips {
  background: linear-gradient(283.73deg, #04BC9B 0.98%, #0CADA7 25.69%, #149EB3 43.07%, #434AF4 87.98%);

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 24px;
  
    @media screen and (min-width: $tablet) {
      max-width: $main-container-sm;
      padding: 40px 0;
    }
  
    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 55px 0;
    }
  }
}

.platform-chip {
  @extend %font-base-regular;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  min-height: 90px;
  margin-bottom: 14px;
  padding: 20px 12px 20px 16px;
  color: $text-primary-color;
  border: 1px solid $text-primary-color;
  border-radius: 30px;

  &__img {
    display: block;
    margin-right: 22px;
  }

  &_lg {
    width: 100%;
  }

  &_md {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: calc(69% - 7px);
    }
  }

  &_sm {
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: calc(31% - 7px);
    }
  }

  &:last-child {
    margin: 0;
  }

  @media screen and (min-width: $tablet) {
    height: 90px;
  }

  @media screen and (min-width: $desktop) {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

.platform-value {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding: 40px 24px;

  @media screen and (min-width: $tablet) {
    max-width: $main-container-sm;
    padding: 40px 0;
  }

  @media screen and (min-width: $desktop) {
    align-items: flex-start;
    flex-flow: row nowrap;
    max-width: $main-container-middle;
    padding: 55px 0;
  }
}

.value-img {
  display: block;
  width: 100%;
  max-width: 558px;
  margin: 0 0 20px 0;

  @media screen and (min-width: $desktop) {
    margin: 0 64px 0 0;
  }
}

.value-text {
  @extend %font-description-italic;
  margin: 0 0 14px 0;
  padding: 12px 0 12px 20px;

  &:last-child {
    margin: 0;
  }
}


/*Footer*/

.footer {
  flex: 0 0 auto;
  background: linear-gradient(68.91deg, #33E284 -3.06%, #5258E8 59.07%);

  &__content {
    overflow: hidden;
    max-width: $main-container-sm;
    margin: 0 auto;
    padding: 30px 24px 0;

    @media screen and (min-width: $tablet) {
      padding: 45px 0 0;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 55px 0 0;
    }
  }
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;

  &__link {
    text-decoration: none;
    color: $text-primary-color;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.email,
.phone {
  opacity: 1;

  &:hover,
  &:active {
    opacity: .8;
  }
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
  opacity: .4;
  background: $default-bg-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
  }

  .page-footer & {
    background: $supporting-color;
  }
}

.copyright {
  padding: 0 24px 24px;
  font-size: 12px;
  line-height: 160%;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 0 24px 44px;
    font-size: 14px;
  }

  @media screen and (min-width: $desktop-lg) {
    font-size: 16px;
  }

  .page-footer & {
    color: $text-secondary-color;
  }
}


/*Form*/

.pageclip-form {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  margin-bottom: 35px;

  @media screen and (min-width: $desktop) {
    align-items: flex-end;
    flex-flow: row nowrap;
    margin-bottom: 75px;
  }
}

.pageclip-form__item {
  padding: 0 12px;
  color: $text-primary-color;
  border: 1px solid $default-bg-color;;
  border-radius: 2px;
  outline: none;
  background: rgba(255, 255, 255, 0.3);

  &:focus {
    background: rgba(255, 255, 255, 0.5);
  }
}

.btn.btn_colorful.pageclip-form__submit:after {
  border-left: 3px solid $additional-color;
}

.pageclip-form__submit {
  align-self: center;
  width: 100%;
  margin-top: 30px;

  .success-template-view & {
    visibility: hidden;
  }

  @media screen and (min-width: $tablet) {
    width: 210px;
    margin-top: 45px;
  }

  @media screen and (min-width: $desktop) {
    align-self: flex-end;
    width: auto;
    min-width: 212px;
    margin-top: 0;
  }
}

.inputs-inner {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 810px;
  margin-right: 0;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .success-template-view & {
    visibility: hidden;
  }

  @media screen and (min-width: $desktop) {
    max-width: 785px;
    margin-right: 64px;
  }
}

.label {
  font-size: 14px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.validation-error {
  position: absolute;
  bottom: -24px;
  left: 0;
  font-size: 12px;
  line-height: 22px;
  color: $text-error;
}

.input {
  width: 100%;
  height: 32px;
  font-size: 16px;

  @media screen and (min-width: $tablet) {
    height: 42px;
    font-size: 18px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $text-primary-color;
}

.textarea {
  display: block;
  width: 100%;
  height: 175px;
  padding: 12px;
  resize: none;

  @media screen and (min-width: $tablet) {
    height: 166px;
  }
}

.pageclip-form__success {
  justify-content: flex-start;
  padding: 90px 0 0;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  pointer-events: none;
  background: transparent;

  & .btn {
    margin-top: 30px;
    pointer-events: auto;
  }

  @media screen and (min-width: $tablet) {
    padding: 80px 0 0;
    font-size: 34px;
    line-height: 41px;
  }
}

.success-template-inner {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: space-between;
}


/*Documentation Page*/

.documentation {
  flex: 1 0 auto;
  width: 100%;
  max-width: $main-container-sm;
  margin: 0 auto;
  color: $text-secondary-color;

  img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (min-width: $desktop) {
    max-width: $main-container-middle;
  }
}

.page-footer {
  flex: 0 0 auto;
}

.logo-documentation {
  position: fixed;
  top: 0;
  z-index: 22;
  display: flex;
  align-items: center;
  width: $documentation-sidebar-width-tablet;
  height: 82px;
  background-color: $default-bg-color;
  box-shadow: -14px 8px 15px $default-bg-color;

  &::after {
    content: '';
    position: absolute;
    top: 50px;
    display: none;
    width: 184px;
    height: 50px;
    background: linear-gradient(180deg, $default-bg-color 36.87%, rgba(255, 255, 255, 0) 117.98%);

    @media screen and (min-width: $desktop) {
      top: 80px;
      width: 302px;
      height: 80px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 0;
      height: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
    width: 310px;
    height: 80px;
    box-shadow: -14px 30px 20px $default-bg-color;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    position: static;
    width: 170px;
    box-shadow: none;
  }
}

.blur.logo-documentation::after {
  display: block;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 24px;

  @media screen and (min-width: $tablet) {
    flex-flow: row nowrap;
    margin: 0;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.sidebar-wrapper {
  display: none;
  width: $documentation-sidebar-width-tablet;
  background: $default-bg-color;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    width: 310px;
  }
}

.sidebar-mobile-wrapper {
  z-index: 25;
  display: none;
  border-radius: 2px;
  background: $default-bg-color;

  @media screen and (max-width: ($tablet - 1px)) {
    display: flex;
    flex-flow: column nowrap;
  }
}

.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  flex-flow: column nowrap;
  width: 100%;
  padding: 80px 24px 12px;
  background: $default-bg-color;
  transition: 0.5s;

  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  scrollbar-width: thin;
  scrollbar-face-color: $scrollbar-thumb-color;
  scrollbar-track-color: $scrollbar-track-color;

  &__item {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    transition: 0.5s;
  }

  &.sidebar-open {
    top: 0;
    display: flex;
    overflow: auto;
    height: 100vh;
    transition: 0.5s;
  }

  &::-webkit-scrollbar {
    width: 6px;
    max-width: 6px;
    height: 6px;
    min-height: 0;
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    max-width: 6px;
    border-radius: 3px;
    background: $scrollbar-thumb-color;

    &:hover {
      background: $supporting-color;
    }
  }
}

.sidebar-mobile-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 25;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: $default-bg-color;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);

  &:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 25px;
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid $main-accent-color;
    border-left: 2px solid $main-accent-color;
    transition: 0.3s;
    transform: rotate(135deg);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 25px;
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid $main-accent-color;
    border-left: 2px solid $main-accent-color;
    transition: 0.3s;
    transform: rotate(-45deg);
  }

  &.sidebar-open {
    &:after {
      bottom: 31px;
    }

    &:before {
      top: 31px;
    }
  }

  .menu-open & {
    display: none;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  overflow: auto;
  flex-flow: column nowrap;
  width: $documentation-sidebar-width-tablet;
  min-width: $documentation-sidebar-width-tablet;
  height: 100vh;
  padding: 95px 22px 16px 0;
  background: linear-gradient(to right, $default-bg-color 174px, $scrollbar-track-color 6px);

  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  scrollbar-width: thin;
  scrollbar-face-color: $scrollbar-thumb-color;
  scrollbar-track-color: $scrollbar-track-color;

  &::-webkit-scrollbar {
    width: 6px;
    max-width: 6px;
    height: 6px;
    min-height: 0;
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    max-width: 6px;
    border-radius: 3px;
    background: $scrollbar-thumb-color;

    &:hover {
      background: $supporting-color;
    }
  }

  &__item {
    display: block;
    margin-bottom: 15px;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 5px;

      @media screen and (min-width: $desktop) {
        margin-top: 15px;
      }
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 310px;
    min-width: 310px;
    padding: 118px 44px 36px 0;
    background: linear-gradient(to right, $default-bg-color 304px, $scrollbar-track-color 6px);
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    position: static;
    height: auto;
    padding: 40px 36px 36px 0;
    background: $default-bg-color;
  }
}

.sidebar,
.sidebar-mobile {
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  ul ul {
    padding-left: 24px;
  }

  ul li a {
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  ul li ul li a {
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  a {
    text-decoration: none;
    color: $text-secondary-color;

    &:hover {
      color: $main-accent-color;
    }

    &.active,
    &.active-item {
      color: $main-accent-color;
    }
  }

  & > ul {
    margin-bottom: 15px;
  }

  & ul > li {
    &:not(:last-child) {
      margin-bottom: 4px;
    }

    line-height: 1;
  }

  & ul li ul li {
    margin: 0;
    line-height: 1;
  }
}

.main-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 0 0 24px;
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;

  h1 {
    margin: 0 0 16px;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 1;
    @media screen and (min-width: $tablet) {
      margin: 32px 0 16px;
    }
    @media screen and (min-width: $desktop) {
      margin: 60px 0 32px;
      font-size: 40px;
      line-height: 1;
    }
  }


  h2 {
    margin: 12px 0 8px;
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 26px;
    line-height: 30px;
    @media screen and (min-width: $desktop) {
      margin: 32px 0 16px;
      font-size: 32px;
      line-height: 37px;
    }
  }

  h3 {
    margin: 8px 0 4px;
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    @media screen and (min-width: $desktop) {
      margin: 16px 0 8px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  p {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }

    img {
      margin: 8px 0;
      @media screen and (min-width: $desktop) {
        margin-bottom: 16px;
      }
    }
  }

  a {
    text-decoration: none;
    color: $main-accent-color;
  }

  code {
    padding: 0 4px;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    background: $code-bg-color;
  }

  pre {
    padding: 20px;
  }

  pre code {
    background: none;
  }

  ul {
    margin: 0;
    padding: 0 0 0 65px;
    list-style: none;

    li {
      position: relative;
      margin-bottom: 12px;

      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -24px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $text-secondary-color;
      }
    }
  }

  li {
    ul {
      margin-top: 16px;

      li {
        margin-bottom: 4px;
      }
    }
  }

  ol {
    margin: 0;
    padding: 0 0 0 60px;

    li {
      margin-bottom: 12px;
      padding: 0 0 0 5px;
    }

    ul {
      padding-left: 55px;
    }
  }

  .table-wrapper {
    overflow: auto;
    width: 100%;
    max-height: 90vh;
    margin: 8px 0 24px;

    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
    scrollbar-width: thin;
    scrollbar-face-color: $scrollbar-thumb-color;
    scrollbar-track-color: $scrollbar-track-color;

    &::-webkit-scrollbar {
      width: 6px;
      max-width: 6px;
      height: 6px;
      min-height: 0;
    }

    &::-webkit-scrollbar-track-piece {
      background: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      max-width: 6px;
      border-radius: 3px;
      background: $scrollbar-thumb-color;

      &:hover {
        background: $supporting-color;
      }
    }

  }

  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }

  table tr:nth-child(2n) {
    background-color: #FBFBFB;
  }

  th,
  td {
    padding: 12px;
    border: 1px solid $table-border-color;
    @media screen and (min-width: $desktop) {
      padding: 17px;
    }
  }

  thead {
    background: $table-header-color;
  }

  @media screen and (min-width: $tablet) {
    width: calc(100% - 180px); //$documentation-sidebar-width-tablet
    padding: 44px 0 30px 22px;
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% - 310px); //310-sidebar
    padding: 44px 0 30px 44px;
    font-size: 18px;
    line-height: 29px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border-left: 6px solid $scrollbar-track-color;
  }
}

mjx-container {
  pointer-events: none;
}


/*Page Error*/

.page-error {
  flex: 1 0 auto;
  width: 100%;
  max-width: $main-container-sm;
  margin: 0 auto;
  color: $text-secondary-color;

  @media screen and (min-width: $desktop) {
    max-width: $main-container-middle;
    padding: 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: $default-bg-color;

    @media screen and (min-width: $tablet) {
      padding: 27px 0 0;
    }

    @media screen and (min-width: $desktop) {
      padding: 18px 0 0;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    height: calc(100% - 127px); //127-header
    padding: 0 32px 48px;

    @media screen and (min-width: $tablet) {
      height: calc(100% - 94px); //94-header
      padding: 0 32px 36px;
    }

    @media screen and (min-width: $desktop) {
      height: calc(100% - 138px); //138-header
      padding: 0 32px 80px;
    }
  }

  & .main-menu {
    margin-top: 26px;

    @media screen and (min-width: $tablet) {
      margin-top: 17px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 26px;
    }
  }
}

.error-text-block {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.error-text {
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 0.9;
  color: $text-secondary-color;

  &_bg {
    padding-bottom: 20px;
    font-size: 32px;
  }

  &_lg {
    font-size: 130px;
  }

  &_light {
    color: $supporting-color;
  }

  @media screen and (min-width: $tablet) {
    font-size: 38px;

    &_bg {
      font-size: 65px;
    }

    &_lg {
      font-size: 263px;
    }
  }
}


/*Privacy Policy*/
.page-privacy {
  flex: 1 0 auto;
  width: 100%;
  max-width: $main-container-sm;
  margin: 0 auto;
  color: $text-secondary-color;

  @media screen and (min-width: $desktop) {
    max-width: $main-container-middle;
    padding: 0;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: $default-bg-color;

    @media screen and (min-width: $tablet) {
      padding: 27px 0 0;
    }

    @media screen and (min-width: $desktop) {
      padding: 18px 0 0;
    }
  }

  &__title {
    margin: 0 0 16px;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 51px;
    @media screen and (min-width: $tablet) {
      margin: 0 0 24px;
    }

    @media screen and (min-width: $desktop) {
      margin: 0 0 32px;
      font-size: 40px;
      line-height: 64px;
    }
  }

  &__subtitle {
    margin: 0 0 12px;
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 36px;

    @media screen and (min-width: $tablet) {
      margin: 0 0 8px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: 43px;
    }
  }

  &__section-title {
    margin: 0 0 12px;
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;

    @media screen and (min-width: $tablet) {
      margin: 0 0 8px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
      line-height: 38px;
    }
  }

  &__main {
    padding: 0 24px;
    font-size: 14px;
    line-height: 22px;

    @media screen and (min-width: $tablet) {
      padding: 0;
    }

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 29px;
    }
  }

  &__section {
    margin: 0 0 24px;

    & p:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  & .main-menu {
    margin-top: 26px;

    @media screen and (min-width: $tablet) {
      margin-top: 17px;
      margin-bottom: 46px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 26px;
    }
  }
}

/*Cookie*/

.cookie-notice {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  display: none;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding: 20px 24px;
  font-size: 12px;
  line-height: 20px;
  color: $text-primary-color;
  background: $dark-bg-color;
  @media screen and (min-width: $tablet) {
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 14px 32px;
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    padding: 20px 32px;
  }

  &__btns {
    display: flex;
    flex-flow: row nowrap;
    margin: 14px 0 0;
    @media screen and (min-width: $tablet) {
      margin: 0 0 0 32px;
    }
  }
}
