* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

body {
  background: $default-bg-color;
  color: $text-primary-color;
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 32px;
  }
}

.h1 {
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.1;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    font-size: 42px;
    margin-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 68px;
    margin-bottom: 46px;
  }
}

.h2 {
  color: $text-secondary-color;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    font-size: 38px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
  }

  &_white {
    color: $text-primary-color;
  }

  &_accent {
    color: $main-accent-color;
  }

  &_additional {
    color: $additional-color;
  }
}

.h3 {
  color: $text-primary-color;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.25;
  margin: 0 0 8px;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    margin: 0 0 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;
    margin: 0 0 20px;
  }

  &_ta-right {
    text-align: left;
    @media screen and (min-width: $tablet) {
      text-align: right;
    }
  }

  &_mb-10 {
    margin-bottom: 10px;
  }
}

.btn {
  background: transparent;
  border-radius: 0 18px;
  border: 2px solid $additional-accent-color;
  color: $text-primary-color;
  cursor: pointer;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 25px;
  outline: none;
  padding: 0;
  text-transform: uppercase;

  &:hover,
  &:active {
    background: rgba(255, 255, 255, 0.1);
  }

  &_colorful {
    border: 2px solid $additional-color;
    color: $additional-color;

    &:hover,
    &:active {
      background: rgba(18, 163, 102, 0.1);
    }
  }

  a, span {
    color: inherit;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
  }
}

.logo {
  display: none;

  @media screen and (min-width: $tablet) {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  &-img {
    display: block;
    height: 73px;
    width: 73px;

    @media screen and (min-width: $tablet) {
      height: 134px;
      width: 134px;

      .logo-documentation &,
      .page-error & {
        display: block;
        height: 31px;
        width: 104px;
      }
    }

    @media screen and (min-width: $desktop) {
      height: 167px;
      width: 167px;

      .logo-documentation &,
      .page-error & {
        height: auto;
        width: auto;
      }
    }
  }

  a {
    display: block;
  }
}

.logo-menu-mobile {
  display: none;

  @media screen and (max-width: $tablet - 1px) {
    align-items: flex-start;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: $main-container-sm;
    padding: 24px 24px 24px 21px;
    width: 100%;
  }

  .menu-open & {
    background: $default-bg-color;
    position: fixed;
    top: 0;
    z-index: 27;
  }

  .documentation & {
    margin: 0 -24px;
    width: calc(100% + 48px);

    .menu-open & {
      width: 100%;
    }
  }

  & .logo {
    border-radius: 50%;
    display: block;
    padding: 3px;

    .menu-open &,
    .page-error &,
    .documentation-body &,
    .redoc-header & {
      background: linear-gradient(270.42deg, #8259FF 0.44%, #2330FA 68.36%, #6070FF 97.14%);
    }
  }
}

.mobile-menu-btn {
  cursor: pointer;
  background: linear-gradient(89.27deg, #5345FD 0.58%, #7353FF 98.11%);
  border-radius: 50%;
  height: 40px;
  position: fixed;
  right: 24px;
  top: 24px;
  transition: 0.3s;
  width: 40px;
  z-index: 1000;

  .menu-open &,
  .page-error & {
    background: $default-bg-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:before {
    content: '';
    background-color: $text-primary-color;
    border-radius: 5px;
    height: 2px;
    position: absolute;
    left: 8px;
    top: 16px;
    transition: 0.3s;
    width: 24px;

    .menu-open &,
    .page-error & {
      background-color: $text-secondary-color;
    }
  }

  &:after {
    content: '';
    background-color: $text-primary-color;
    border-radius: 5px;
    height: 2px;
    position: absolute;
    left: 8px;
    top: 24px;
    transition: 0.3s;
    width: 24px;

    .menu-open &,
    .page-error & {
      background-color: $text-secondary-color;
    }
  }

  &.menu-open:before {
    left: 8px;
    top: 20px;
    transform: rotate(45deg);
  }

  &.menu-open:after {
    left: 8px;
    top: 20px;
    transform: rotate(-45deg);
  }
}

.main-menu {
  &__item {
    color: $text-primary-color;
    display: none;
    letter-spacing: 0.075em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;

      .documentation-body & {
        margin-bottom: 10px;
      }
    }

    &:before {
      content: "";
      background: #63C89D;
      bottom: -4px;
      display: none;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:hover:before {
      display: block;
    }

    &.active:before {
      display: block;
    }

    @media screen and (min-width: $tablet) {
      display: inline-block;
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    align-self: flex-start;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 36px;
    margin-left: auto;
  }
  
  @media screen and (min-width: $desktop) {
    margin-bottom: 80px;
  }

  &_dark {
    .documentation & {
      margin-top: 0;
    }

    .main-menu__item {
      color: $text-secondary-color;
    }
  }
}

.mobile-menu {
  align-items: center;
  background: $default-bg-color;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px 24px 24px 24px;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: 0.5s;
  width: 100%;

  &.menu-open {
    display: flex;
    height: 100vh;
    transform: translateY(0);
    transition: 0.5s;
    z-index: 26;
  }

  &__header {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    height: 80px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
}

.main-menu-mobile {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: calc(100vh - 124px); //124-header + margin-top + margin- bottom
  justify-content: space-around;
  letter-spacing: 0.075em;
  line-height: 14px;
  overflow: auto;
  padding: 0;
  text-transform: uppercase;
  width: 100%;

  &__item {
    color: $text-secondary-color;
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: 0.5s;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:before {
      content: '';
      background: $additional-color;
      bottom: -3px;
      display: none;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &:hover:before {
      display: block;
    }

    &.active:before {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.header {
  background: linear-gradient(270.42deg, #8259FF 0.44%, #2330FA 68.36%, #6070FF 97.14%);

  &__item {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: $tablet) {
      align-items: flex-start;
      flex-flow: row nowrap;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 23px;
    padding: 0 24px;
    text-align: left;

    @media screen and (min-width: $tablet) {
      font-size: 19px;
      line-height: 31px;
      margin: 24px 0 0 47px;
      padding: 0;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
      line-height: 45px;
      margin: 12px 12px 0 60px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $main-container-sm;
    padding: 0 0 40px;

    @media screen and (min-width: $tablet) {
      padding: 44px 0 64px;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 44px 0 90px;
    }

    .menu-open & {
      max-width: 100%;
    }
  }

  &__btn {
    margin-top: 32px;

    a {
      display: flex;

      & img {
        margin-left: 16px;
      }
    }

    @media screen and (min-width: $tablet) {
      margin-top: 46px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 60px;
    }
  }
}


/*Clients*/

.clients {
  background: linear-gradient(89.96deg, #00E0AB -7.77%, #33E28A 10.18%, #01C4A1 99.97%);

  &__bg {
    background: url(/assets/images/clients-bg.svg) top left no-repeat;
    background-size: cover;

    @media screen and (min-width: $desktop) {
      background: url(/assets/images/clients-bg.svg) top left repeat;
      background-size: contain;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: $main-container-sm;
    padding: 36px 24px 60px;

    @media screen and (min-width: $tablet) {
      padding: 42px 0 64px;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 80px 0 90px;
    }
  }
}

.client-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.client-card {
  align-items: center;
  background: $default-bg-color;
  box-shadow: 0 0 36.0314px rgba(0, 0, 0, 0.24);
  color: $text-secondary-color;
  display: flex;
  font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 102px;
  justify-content: center;
  line-height: 28px;
  position: relative;
  text-align: center;

  &:not(:last-child) {
    &:after {
      content: '';
      border-radius: 50%;
      bottom: -29px;
      display: block;
      height: 38px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 38px;
      z-index: 1;
    }
  }

  &:nth-child(1) {
    &:after {
      background: #1FBE81;
    }
  }

  &:nth-child(2) {
    &:after {
      background: #17B985;
    }
  }

  &:nth-child(3) {
    &:after {
      background: #17B985;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    height: 120px;
    line-height: 34px;

    &:not(:last-child) {
      &:after {
        content: '';
        border-radius: 50%;
        bottom: -29px;
        display: block;
        height: 38px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 38px;
        z-index: 1;
      }
    }

    &:nth-child(1) {
      &:after {
        background: #24C07E;
      }
    }

    &:nth-child(2) {
      &:after {
        background: #0EB289;
      }
    }

    &:nth-child(3) {
      &:after {
        background: transparent;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    height: 162px;

    &:not(:last-child) {
      &:after {
        content: '';
        border-radius: 50%;
        bottom: unset;
        display: block;
        height: 38px;
        left: unset;
        position: absolute;
        right: -29px;
        top: 50%;
        transform: translateY(-50%);
        width: 38px;
        z-index: 1;
      }
    }

    &:nth-child(1) {
      &:after {
        background: #25C280;
      }
    }

    &:nth-child(2) {
      &:after {
        background: #1BBB83;
      }
    }

    &:nth-child(3) {
      &:after {
        background: #12B788;
      }
    }
  }
}


/*Features*/

.features {
  background: $dark-bg-color;

  &__section {
    &:not(:last-child) {
      margin-bottom: 42px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 52px;
      }

      @media screen and (min-width: $desktop) {
        margin-bottom: 42px;
      }
    }
  }

  &__content {
    margin: 0 auto;
    max-width: $main-container-sm;
    padding: 36px 24px 32px;

    @media screen and (min-width: $tablet) {
      padding: 80px 0 64px;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 90px 0 92px;
    }
  }

  &__header {
    align-items: flex-start;
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      align-items: baseline;
      flex-flow: row nowrap;
    }
  }
}

.features-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(165px, auto);

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    grid-auto-rows: minmax(180px, auto);
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(228px, auto);
  }
}

.feature-card {
  background: $feature-card-default-bg;
  font-size: 32px;
  line-height: 40px;
  padding: 26px;
  text-align: left;

  &_tall {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;

    @media screen and (min-width: $tablet) {
      font-size: 34px;
      grid-row-start: 5;
      grid-row-end: 7;
    }

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      grid-row-start: 3;
      grid-row-end: 5;
    }
  }

  &_wide {
    grid-column-start: 1;
    grid-column-end: 2;

    @media screen and (min-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media screen and (min-width: $desktop) {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }

  &_cyan {
    background: $feature-card-cyan-bg;
  }

  &_blue {
    background: $feature-card-blue-bg;
  }

  &_green {
    background: $feature-card-green-bg;
  }

  &_flexible-position {
    grid-row: auto;

    @media screen and (min-width: $tablet) {
      grid-row: 6;
    }

    @media screen and (min-width: $desktop) {
      grid-row: auto;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 43px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 44px;
  }

  &__list {
    font-size: 20px;
    line-height: 25px;
    margin: 6px 0 0;
    padding: 0 0 0 30px;

    @media screen and (min-width: $tablet) {
      font-size: 22px;
      line-height: 28px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}


/*Products*/

.products {
  background: linear-gradient(286.38deg, #434AF4 13.77%, #04BC9B 48.47%, #5AE69A 91.64%);
  overflow: hidden;

  &__bg-desktop {
    display: none;
    left: 612px;
    position: absolute;
    top: 0;

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &__bg-tablet {
    display: block;
    height: 327px;
    margin: 24px auto;
    width: 327px;

    @media screen and (min-width: $tablet) {
      height: 427px;
      margin: 48px auto;
      width: 427px;
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: $main-container-sm;
    padding: 38px 24px 0;
    position: relative;

    @media screen and (min-width: $tablet) {
      padding: 48px 0 10px;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 72px 0 58px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 28px;

    @media screen and (min-width: $tablet) {
      font-size: 26px;
      line-height: 36px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 28px;
      line-height: 40px;
      padding: 12px 0 40px;
      width: 516px;
    }
  }

  &__cards-inner {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;

    @media screen and (min-width: $desktop) {
      align-items: flex-start;
      flex-flow: column wrap;
      height: 548px;
      justify-content: flex-end;
    }
  }
}

.product-card {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  justify-content: flex-start;
  line-height: 28px;
  margin-bottom: 46px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    height: 272px;
    margin-bottom: 0;
    width: 462px;
  }
}

.icons-wrapper {
  border-top: 1px solid $text-primary-color;
  display: flex;
  flex-flow: row nowrap;
  margin: 20px 0 0;
  padding: 20px 0 0;
  width: 100%;

  & img {
    display: block;
    height: 70px;
    margin: 0 24px 0 0;
    width: 70px;

    @media screen and (min-width: $tablet) {
      height: 80px;
      margin: 0 30px 0 0;
      width: 80px;
    }
  }
}


/*Benefits*/

.benefits {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: $main-container-sm;
  padding: 40px 24px 0;

  @media screen and (min-width: $tablet) {
    padding: 36px 0 0;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
    flex-flow: row nowrap;
    max-width: $main-container-middle;
    padding: 56px 0 6px;
  }

  &__img {
    @media screen and (min-width: $tablet) {
      height: 225px;
      margin: 0 0 0 23px;
      width: 56px;
    }

    @media screen and (min-width: $desktop) {
      height: 227px;
      width: 72px;
    }

    &_desk {
      display: none;
      @media screen and (min-width: $tablet) {
        display: block;
      }
    }
  }

  &__item {
    align-items: flex-start;
    background: url(/assets/images/benefits_img_mob.svg) center right no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 0 12px 0;
    padding: 0 84px 0 0;

    @media screen and (min-width: $tablet) {
      background: none;
      margin: 0 0 20px 0;
      padding: 0;
    }

    @media screen and (min-width: $desktop) {
      margin: 0 42px 0 0;
    }
  }

  &__text {
    color: $text-secondary-color;
    font-size: 18px;
    line-height: 29px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 32px;
    }

    @media screen and (min-width: $desktop) {
      width: 455px;
    }
  }
}


/*Delivery*/

.delivery {
  align-items: flex-start;
  display: flex;
  flex-flow: column-reverse nowrap;
  margin: 0 auto;
  max-width: $main-container-sm;
  padding: 40px 24px 44px;

  @media screen and (min-width: $tablet) {
    padding: 40px 0 40px;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
    flex-flow: row nowrap;
    max-width: $main-container-middle;
    padding: 17px 0 94px;
  }

  &__item {
    align-items: flex-start;
    background: url(/assets/images/delivery_img_mob.svg) center left no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 0 12px 0;
    padding: 0 0 0 84px;

    @media screen and (min-width: $tablet) {
      background: none;
      margin: 0 0 20px 100px;
      padding: 0;
    }

    @media screen and (min-width: $desktop) {
      margin: 0 0 0 118px;
    }
  }

  &__text {
    color: $text-secondary-color;
    font-size: 18px;
    line-height: 29px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      font-size: 20px;
      line-height: 32px;
    }

    @media screen and (min-width: $desktop) {
      width: 401px;
    }
  }

  &__img {
    @media screen and (min-width: $tablet) {
      height: 192px;
      margin: 0 16px 0 0;
      width: 60px;
    }

    @media screen and (min-width: $desktop) {
      height: 239px;
      margin: 0 20px 0 0;
      width: 77px;
    }

    &_desk {
      display: none;
      @media screen and (min-width: $tablet) {
        display: block;
      }
    }
  }
}

.list {
  color: $additional-color;
  display: block;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0 0 0 24px;

  &__item {
    padding: 0 0 6px 0;
  }

  .benefits & {
    color: $main-accent-color;
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 26px;
  }
}


/*Quote*/

.quote {
  background: $dark-bg-color;

  &__bg {
    background: url(/assets/images/quote-bg.svg) top left no-repeat;
    background-size: cover;

    @media screen and (min-width: $desktop) {
      background: url(/assets/images/quote-bg.svg) top left repeat;
      background-size: contain;
    }
  }

  &__content {
    font-family: 'SemiBold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 34px;
    margin: 0 auto;
    max-width: $main-container-sm;
    padding: 52px 65px;

    @media screen and (min-width: $tablet) {
      padding: 54px 108px;
    }

    @media screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: 46px;
      max-width: $main-container-middle;
      padding: 140px 200px 160px;
    }
  }
}


/*Footer*/

.footer {
  background: linear-gradient(68.91deg, #33E284 -3.06%, #5258E8 59.07%);;
  flex: 0 0 auto;

  &__content {
    margin: 0 auto;
    max-width: $main-container-sm;
    overflow: hidden;
    padding: 30px 24px 0;

    @media screen and (min-width: $tablet) {
      padding: 45px 0 0;
    }

    @media screen and (min-width: $desktop) {
      max-width: $main-container-middle;
      padding: 55px 0 0;
    }
  }
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;

  &__link {
    color: $text-primary-color;
    text-decoration: none;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.email,
.phone {
  opacity: 1;

  &:hover,
  &:active {
    opacity: .8;
  }
}

.line {
  background: $default-bg-color;
  height: 1px;
  margin-bottom: 24px;
  opacity: .4;
  width: 100%;

  @media screen and (min-width: $tablet) {
    margin-bottom: 44px;
  }

  .page-footer & {
    background: $supporting-color;
  }
}

.copyright {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 24px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    padding-bottom: 44px;
  }

  @media screen and (min-width: $desktop-lg) {
    font-size: 18px;
    padding-bottom: 44px;
  }

  .page-footer & {
    color: $text-secondary-color;
  }
}


/*Form*/

.pageclip-form {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 35px;

  @media screen and (min-width: $desktop) {
    align-items: flex-end;
    flex-flow: row nowrap;
    margin-bottom: 75px;
  }
}

.pageclip-form__item {
  background: rgba(255, 255, 255, 0.3);;
  border-radius: 2px;
  border: 1px solid $default-bg-color;
  color: $text-primary-color;
  outline: none;
  padding: 0 12px;

  &:focus {
    background: rgba(255, 255, 255, 0.5);
  }
}

.btn.btn_colorful.pageclip-form__submit:after {
  border-left: 3px solid $additional-color;
}

.pageclip-form__submit {
  align-self: center;
  margin-top: 30px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    margin-top: 45px;
    width: 210px;
  }

  @media screen and (min-width: $desktop) {
    align-self: flex-end;
    margin-top: 0;
    min-width: 212px;
    width: auto;
  }
}

.inputs-inner {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 0;
  max-width: 810px;
  width: 100%;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 64px;
    max-width: 785px;
  }
}

.label {
  font-size: 14px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.validation-error {
  bottom: -24px;
  color: $text-error;
  font-size: 12px;
  left: 0;
  line-height: 22px;
  position: absolute;
}

.input {
  font-size: 16px;
  height: 32px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    height: 42px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: $text-primary-color;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

.textarea {
  display: block;
  height: 175px;
  padding: 12px;
  resize: none;
  width: 100%;

  @media screen and (min-width: $tablet) {
    height: 166px;
  }
}

.success-template-inner {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


/*Documentation Page*/

.documentation {
  color: $text-secondary-color;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: $main-container-sm;
  width: 100%;

  img {
    height: auto;
    max-width: 100%;
  }

  @media screen and (min-width: $desktop) {
    max-width: $main-container-middle;
  }
}

.page-footer {
  flex: 0 0 auto;
}

.logo-documentation {
  align-items: flex-end;
  background-color: $default-bg-color;
  box-shadow: -14px 15px 15px $default-bg-color;
  display: flex;
  height: 50px;
  position: fixed;
  top: 0;
  width: 190px;
  z-index: 22;

  &::after {
    content: '';
    background: linear-gradient(180deg, $default-bg-color 36.87%, rgba(255, 255, 255, 0) 117.98%);
    display: none;
    height: 50px;
    position: absolute;
    top: 50px;
    width: 184px;

    @media screen and (min-width: $desktop) {
      height: 80px;
      top: 80px;
      width: 302px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 0;
      width: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
    box-shadow: -14px 30px 20px $default-bg-color;
    height: 80px;
    width: 310px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    box-shadow: none;
    position: static;
    width: 170px;
  }
}

.blur.logo-documentation::after {
  display: block;
}

.main-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 24px;

  @media screen and (min-width: $tablet) {
    flex-flow: row nowrap;
    margin: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;
  }
}

.sidebar-wrapper {
  background: $default-bg-color;
  display: none;
  width: 190px;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    width: 310px;
  }
}

.sidebar-mobile-wrapper {
  background: $default-bg-color;
  border-radius: 2px;
  display: none;
  z-index: 25;

  @media screen and (max-width: $tablet - 1px) {
    display: flex;
    flex-flow: column nowrap;
  }
}

.sidebar-mobile {
  background: $default-bg-color;
  display: none;
  flex-flow: column nowrap;
  left: 0;
  padding: 12px 24px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 20;

  &__item {
    display: block;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 12px;
    text-transform: uppercase;
    transition: 0.5s;
  }

  &.sidebar-open {
    display: flex;
    height: 100vh;
    overflow: auto;
    top: 0;
    transition: 0.5s;
  }

  &::-webkit-scrollbar {
    height: 6px;
    max-width: 6px;
    min-height: 0;
    width: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 3px;
    max-width: 6px;
    width: 6px;

    &:hover {
      background: $supporting-color;
    }
  }

  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  scrollbar-width: thin;
  scrollbar-face-color: $scrollbar-thumb-color;
  scrollbar-track-color: $scrollbar-track-color;
}

.sidebar-mobile-btn {
  background: $default-bg-color;
  border-radius: 50%;
  border: none;
  bottom: 25px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);
  display: block;
  height: 60px;
  outline: none;
  padding: 0 20px;
  position: fixed;
  right: 25px;
  width: 60px;
  z-index: 25;

  &:before {
    content: '';
    border-bottom: 2px solid $main-accent-color;
    border-left: 2px solid $main-accent-color;
    display: block;
    height: 8px;
    left: 25px;
    position: absolute;
    top: 20px;
    transform: rotate(135deg);
    transition: 0.3s;
    width: 8px;
  }

  &:after {
    content: '';
    border-bottom: 2px solid $main-accent-color;
    border-left: 2px solid $main-accent-color;
    bottom: 20px;
    display: block;
    height: 8px;
    left: 25px;
    position: absolute;
    transform: rotate(-45deg);
    transition: 0.3s;
    width: 8px;
  }

  &.sidebar-open {
    &:after {
      bottom: 31px;
    }

    &:before {
      top: 31px;
    }
  }

  .menu-open & {
    display: none;
  }
}

.sidebar {
  background: linear-gradient(to right, $default-bg-color 184px, $scrollbar-track-color 6px);
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  min-width: 190px;
  overflow: auto;
  padding: 78px 32px 16px 0;
  position: sticky;
  top: 0;
  width: 190px;

  &::-webkit-scrollbar {
    height: 6px;
    max-width: 6px;
    min-height: 0;
    width: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 3px;
    max-width: 6px;
    width: 6px;

    &:hover {
      background: $supporting-color;
    }
  }

  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  scrollbar-width: thin;
  scrollbar-face-color: $scrollbar-thumb-color;
  scrollbar-track-color: $scrollbar-track-color;

  &__item {
    display: block;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 5px;

      @media screen and (min-width: $desktop) {
        margin-top: 15px;
      }
    }

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media screen and (min-width: $desktop) {
    background: linear-gradient(to right, $default-bg-color 304px, $scrollbar-track-color 6px);
    min-width: 310px;
    padding: 118px 44px 36px 0;
    width: 310px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    background: $default-bg-color;
    height: auto;
    padding: 40px 36px 36px 0;
    position: static;
  }
}

.sidebar,
.sidebar-mobile {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  ul ul {
    padding-left: 24px;
  }

  ul li a {
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;

    @media screen and (min-width: $desktop) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  ul li ul li a {
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;

    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  a {
    color: $text-secondary-color;
    text-decoration: none;

    &:hover {
      color: $main-accent-color;
    }

    &.active,
    &.active-item {
      color: $main-accent-color;
    }
  }

  & > ul {
    margin-bottom: 15px;
  }

  & ul > li {
    &:not(:last-child) {
      margin-bottom: 4px;
    }

    line-height: 1;
  }

  & ul li ul li {
    line-height: 1;
    margin: 0;
  }
}

.main-content {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 0 0 24px;
  width: 100%;

  h1 {
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 1;
    margin: 32px 0 16px;
    @media screen and (min-width: $desktop) {
      font-size: 40px;
      line-height: 1;
      margin: 60px 0 32px;
    }
  }


  h2 {
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 26px;
    line-height: 30px;
    margin: 12px 0 8px;
    @media screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: 37px;
      margin: 32px 0 16px;
    }
  }

  h3 {
    font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 8px 0 4px;
    @media screen and (min-width: $desktop) {
      font-size: 24px;
      line-height: 30px;
      margin: 16px 0 8px;
    }
  }

  p {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }

    img {
      margin: 8px 0;
      @media screen and (min-width: $desktop) {
        margin-bottom: 16px;
      }
    }
  }

  a {
    color: $main-accent-color;
    text-decoration: none;
  }

  code {
    background: $code-bg-color;
    font-family: 'Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    padding: 0 4px;
  }

  pre {
    padding: 20px;
  }

  pre code {
    background: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 65px;

    li {
      margin-bottom: 12px;
      position: relative;

      &:before {
        content: '';
        background: $text-secondary-color;
        border-radius: 50%;
        display: block;
        height: 8px;
        left: -24px;
        position: absolute;
        top: 10px;
        width: 8px;
      }
    }
  }

  li {
    ul {
      margin-top: 16px;

      li {
        margin-bottom: 4px;
      }
    }
  }

  ol {
    margin: 0;
    padding: 0 0 0 60px;

    li {
      margin-bottom: 12px;
      padding: 0 0 0 5px;
    }

    ul {
      padding-left: 55px;
    }
  }

  .table-wrapper {
    margin: 8px 0 24px;
    max-height: 90vh;
    overflow: auto;
    width: 100%;

    &::-webkit-scrollbar {
      height: 6px;
      max-width: 6px;
      min-height: 0;
      width: 6px;
    }

    &::-webkit-scrollbar-track-piece {
      background: $scrollbar-track-color;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-color;
      border-radius: 3px;
      max-width: 6px;
      width: 6px;

      &:hover {
        background: $supporting-color;
      }
    }

    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
    scrollbar-width: thin;
    scrollbar-face-color: $scrollbar-thumb-color;
    scrollbar-track-color: $scrollbar-track-color;

  }

  table {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;
  }

  table tr:nth-child(2n) {
    background-color: #FBFBFB;
  }

  th,
  td {
    border: 1px solid $table-border-color;
    padding: 12px;
    @media screen and (min-width: $desktop) {
      padding: 17px;
    }
  }

  thead {
    background: $table-header-color;
  }

  @media screen and (min-width: $tablet) {
    padding: 31px 0 30px 32px;
    width: calc(100% - 190px); //190-sidebar
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 29px;
    padding: 44px 0 30px 44px;
    width: calc(100% - 310px); //310-sidebar
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    border-left: 6px solid $scrollbar-track-color;
  }
}

mjx-container {
  pointer-events: none;
}


/*Page Error*/

.page-error {
  color: $text-secondary-color;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: $main-container-sm;
  width: 100%;

  @media screen and (min-width: $desktop) {
    max-width: $main-container-middle;
    padding: 0;
  }

  &__header {
    align-items: flex-start;
    background-color: $default-bg-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      padding: 27px 0 0;
    }

    @media screen and (min-width: $desktop) {
      padding: 18px 0 0;
    }
  }

  &__main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: calc(100% - 127px); //127-header
    justify-content: center;
    padding: 0 32px 48px;

    @media screen and (min-width: $tablet) {
      height: calc(100% - 94px); //94-header
      padding: 0 32px 36px;
    }

    @media screen and (min-width: $desktop) {
      height: calc(100% - 138px); //138-header
      padding: 0 32px 80px;
    }
  }

  & .main-menu {
    margin-top: 26px;

    @media screen and (min-width: $tablet) {
      margin-top: 17px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 26px;
    }
  }
}

.error-text-block {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.error-text {
  color: $text-secondary-color;
  font-family: 'Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 0.9;

  &_bg {
    font-size: 32px;
    padding-bottom: 20px;
  }

  &_lg {
    font-size: 130px;
  }

  &_light {
    color: $supporting-color;
  }

  @media screen and (min-width: $tablet) {
    font-size: 38px;

    &_bg {
      font-size: 65px;
    }

    &_lg {
      font-size: 263px;
    }
  }
}
