//fonts

@font-face {
  font-family: 'Regular';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SemiBold';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bold';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Italic';
  font-weight: normal;
  font-style: italic;
  src: url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}


//variables

/*breakpoint*/
$mobile: 375px;
$tablet: 768px;
$tablet-lg: 1024px;
$desktop: 1200px;
$desktop-lg: 1440px;

/*containers*/
$main-container: 1440px;
$main-container-middle: 1140px;
$main-container-sm: 714px;

/*colors*/
$main-accent-color: #494ECE;
$additional-color: #12A366;
$supporting-color: #D9D9D9;
$additional-accent-color: #33E284;
$attention-color: #D92142;

$default-bg-color: #FFFFFF;
$code-bg-color: #caeadc;
$dark-bg-color: #39394E;
$line-bg-color: #F5F5F5;

$text-primary-color: #FFFFFF;
$text-secondary-color: #39394E;
$text-error: $attention-color;

$text-header-top-color: #47394E;
$text-very-dark-color: #000000;

$table-border-color: #C8C8C8;
$table-header-color: #EFF4FF;

$scrollbar-track-color: #F4F4F4;
$scrollbar-thumb-color: #E4E4E4;

$redoc-type-post: $main-accent-color;
$redoc-type-get: $additional-color;
$redoc-type-put: #9B28D1;
$redoc-type-delete: $attention-color;

//variables end


// sizes
$documentation-sidebar-width-tablet: 180px;
