<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="page-error">
  <div class="page-error__header">
    <div class="logo">
      <a href="http://www.woltix.com">
        <img class="logo-img" src="/assets/images/logo-secondary.svg" alt="logo">
      </a>
    </div>
    <div class="logo-menu-mobile">
      <div class="logo">
        <a href="http://www.woltix.com">
          <img class="logo-img" src="/assets/images/logo.svg" alt="logo">
        </a>
      </div>
      <span class="mobile-menu-btn"></span>
    </div>
    <nav class="main-menu main-menu_dark">
      <a class="main-menu__item"
         href="http://www.woltix.com#product">
        Product
      </a>
      <a class="main-menu__item"
         href="http://www.woltix.com#advantages">
        Benefits
      </a>
      <a class="main-menu__item"
         href="http://www.woltix.com#delivery">
        Delivery
      </a>
      <a class="main-menu__item"
         href="http://www.woltix.com#contactUs">
        Contact Us
      </a>

    </nav>
    
    <section class="mobile-menu">
      <div class="mobile-menu__header">
        <a href="http://www.woltix.com">
          <img class="logo-img" src="/assets/images/logo.svg" alt="logo">
        </a>
      </div>
      <nav class="main-menu-mobile">
        <a class="main-menu-mobile__item"
           href="http://www.woltix.com#product">
          Product
        </a>
        <a class="main-menu-mobile__item"
           href="http://www.woltix.com#advantages">
          Benefits
        </a>
        <a class="main-menu-mobile__item"
           href="http://www.woltix.com#delivery">
          Delivery
        </a>
        <a class="main-menu-mobile__item"
           href="http://www.woltix.com#contactUs">
          Contact Us
        </a>

      </nav>
    </section>
    
  </div>
  <div class="page-error__main">
    <div class="error-text-block">
      <p class="error-text error-text_lg error-text_light">404</p>
      <p class="error-text error-text_bg">Page not found</p>
      <p class="error-text">Please, use the site menu</p>
    </div>
  </div>
</div>
{% include page-footer.html %}
<script src="/assets/js/index.js"></script>
</body>
</html>
