<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <header class="header" id="header">
    <div class="header__content">
      <nav class="main-menu">
        <a class="main-menu__item active" href="#"
          onclick="smoothScrollTo(document.getElementById('about').offsetTop - 30)">
          About
        </a>
        <a class="main-menu__item" href="#"
          onclick="smoothScrollTo(document.getElementById('solutions').offsetTop + 1)">
          Solutions
        </a>
        <a class="main-menu__item" href="#"
          onclick="smoothScrollTo(document.getElementById('platform').offsetTop + 25)">
          Platform
        </a>
        <a class="main-menu__item" href="#" onclick="smoothScrollTo(document.getElementById('contactUs').offsetTop)">
          Contact Us
        </a>
      </nav>

      <div class="header__item" id="about">
        <div class="logo">
          <a href="https://woltix.com">
            <img class="logo-img" src="/assets/images/logo.svg" alt="Woltix Logo - Reliable Investment Management Software" />
          </a>
        </div>

        <div class="logo-menu-mobile">
          <div class="logo">
            <a href="https://woltix.com">
              <img class="logo-img" src="/assets/images/logo.svg" alt="logo" />
            </a>
          </div>
          <span class="mobile-menu-btn"></span>
        </div>

        <div class="header__title">
          <h1 class="h1">Real-time portfolio performance evaluation</h1>
          <p>
            Reliable software for transparent portfolio management,
            clear reporting, and effective
            communication&nbsp;&mdash; for wealth professionals and retail
            investors
          </p>
          <button class="btn header__btn" onclick="smoothScrollTo(document.getElementById('contactUs').offsetTop)">
            <a href="#">CONTACT US
              <img src="/assets/images/icon-arrow.svg" alt="Contact Woltix for Portfolio Solutions" /></a>
          </button>
        </div>
      </div>

      <section class="mobile-menu">
        <div class="mobile-menu__header">
          <a href="https://woltix.com">
            <img class="logo-img" src="/assets/images/logo.svg" alt="logo" />
          </a>
        </div>
        <nav class="main-menu-mobile">
          <a class="main-menu-mobile__item active" href="#"
            onclick="smoothScrollTo(document.getElementById('about').offsetTop - 30)">
            About
          </a>
          <a class="main-menu-mobile__item" href="#"
            onclick="smoothScrollTo(document.getElementById('solutions').offsetTop)">
            Solutions
          </a>
          <a class="main-menu-mobile__item" href="#"
            onclick="smoothScrollTo(document.getElementById('platform').offsetTop)">
            Platform
          </a>
          <a class="main-menu-mobile__item" href="#"
            onclick="smoothScrollTo(document.getElementById('contactUs').offsetTop)">
            Contact Us
          </a>
        </nav>
      </section>
    </div>
  </header>

  <main class="main" id="main">
    <section class="solutions" id="solutions">
      <div class="solutions__title">
        <h2 class="h2">Solutions</h2>
        <p class="solutions__text">
          Client-friendly insights&nbsp;&mdash; detailed reports that clarify
          complex portfolio and investment information
          in&nbsp;an&nbsp;accessible way, helping clients understand
          performance, P&amp;L, and strategic goals
        </p>
      </div>
      <div class="solutions__chips">
        <div class="chips-inner">
          <span class="chip">
            <img class="chip__img" src="/assets/images/solutions/icon-tick-mark.svg" alt="point" />
            Private bank
          </span>
          <span class="chip">
            <img class="chip__img" src="/assets/images/solutions/icon-tick-mark.svg" alt="point" />
            Family office
          </span>
          <span class="chip">
            <img class="chip__img" src="/assets/images/solutions/icon-tick-mark.svg" alt="point" />
            Brokerage firm
          </span>
          <span class="chip">
            <img class="chip__img" src="/assets/images/solutions/icon-tick-mark.svg" alt="point" />
            Advisors and portfolio managers
          </span>
        </div>
      </div>
    </section>

    <section class="solutions-details">
      <div class="solutions-details__content">
        <article class="details-block">
          <h4 class="details-block__title">
            <img class="details-block__img" src="/assets/images/solutions/icon-percent.svg" alt="point" />
            Brokerage firm
          </h4>
          <p>
            Client reporting. Deliver clear, transparent reports that simplify
            complex financial data, helping clients understand transactions,
            holdings, and profit &amp;&nbsp;loss with ease. Quick Integration.
            Solution easily plugs into mobile app or&nbsp;client portal,
            enabling rapid time-to-market and reducing implementation and
            integration efforts
          </p>
        </article>
        <article class="details-block">
          <h4 class="details-block__title">
            <img class="details-block__img" src="/assets/images/solutions/icon-wallet.svg" alt="point" />
            Private Banks and family offices
          </h4>
          <p>
            External asset management and advisory. Consolidate all client
            assets into a&nbsp;cohesive view, reducing time on&nbsp;reporting
            and providing a&nbsp;seamless portfolio overview. Comprehensive
            client account management. Manage individual and grouped client
            accounts in&nbsp;a&nbsp;consolidated view, ensuring organized and
            efficient asset handling
          </p>
        </article>
        <article class="details-block">
          <h4 class="details-block__title">
            <img class="details-block__img" src="/assets/images/solutions/icon-diagram.svg" alt="point" />
            In-House Analytics and Market Research 
          </h4>
          <p>
            Strategies and investment ideas management. Develop and track
            investment strategies and ideas, with tools for sharing virtual
            portfolio returns. Easily prepare client-facing materials
            to&nbsp;showcase strategy performance and potential returns,
            encouraging informed client engagement
          </p>
        </article>
      </div>
      <div class="solutions-details-img-inner">
        <img class="solutions-details-img" src="/assets/images/solutions/solutions_details_img.png" alt="solutions details" />
      </div>
    </section>

    <section class="platform" id="platform">
      <div class="platform__content">
        <h2 class="h2">Platform</h2>
        <div class="platform-description">
          <div class="description-item">
            <img class="description-item__img" src="/assets/images/platform/icon_platform_1.svg" alt="point" />
            <span class="description-item__text">Consolidated Multi-Custody Portfolio View</span>
          </div>
          <div class="description-item">
            <img class="description-item__img" src="/assets/images/platform/icon_platform_2.svg" alt="point" />
            <span class="description-item__text">Flexible Reporting Across Multiple Accounts</span>
          </div>
          <div class="description-item">
            <img class="description-item__img" src="/assets/images/platform/icon_platform_3.svg" alt="point" />
            <span class="description-item__text">Virtual Portfolios for Scenario Analysis</span>
          </div>
        </div>
      </div>

      <div class="platform-chips">
        <div class="platform-chips__content">
          <div class="platform-chip platform-chip_lg">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_1.svg" alt="point" />
            <span>
              Portfolio Profit &amp;&nbsp;Loss (P&amp;L) down to&nbsp;single
              assets, with detailed performance breakdowns by&nbsp;sector,
              asset class, or&nbsp;individual holdings
            </span>
          </div>
          <div class="platform-chip platform-chip_lg">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_2.svg" alt="point" />
            <span>
              Consolidated position view across accounts, custodians, and
              asset classes for accurate tracking
            </span>
          </div>
          <div class="platform-chip platform-chip_lg">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_3.svg" alt="point" />
            <span>
              Real-time consolidation of&nbsp;IBOR and PBOR data, from
              transactions to&nbsp;holdings
            </span>
          </div>
          <div class="platform-chip platform-chip_md">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_4.svg" alt="point" />
            <span>
              Portfolio performance compared to&nbsp;benchmarks and indices
            </span>
          </div>
          <div class="platform-chip platform-chip_sm">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_5.svg" alt="point" />
            <span> Projected cash flow </span>
          </div>
          <div class="platform-chip platform-chip_md">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_6.svg" alt="point" />
            <span>
              Streamlined tracking of&nbsp;operations, including trades and
              orders
            </span>
          </div>
          <div class="platform-chip platform-chip_sm">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_7.svg" alt="point" />
            <span> Portfolio rebalancing </span>
          </div>
          <div class="platform-chip platform-chip_md">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_8.svg" alt="point" />
            <span>
              Comprehensive view of&nbsp;portfolio structure and composition
            </span>
          </div>
          <div class="platform-chip platform-chip_sm">
            <img class="platform-chip__img" src="/assets/images/platform/chips/icon_chip_9.svg" alt="point" />
            <span> Expected return and VaR </span>
          </div>
        </div>
      </div>
      <div class="platform-value">
        <img class="value-img" src="/assets/images/platform/platform-value.png" alt="platform value" />
        <div>
          <p class="value-text">
            Our platform empowers financial firms to&nbsp;serve clients more
            efficiently, reduce routine tasks, and focus on&nbsp;meaningful,
            high-value activities
          </p>
          <p class="value-text">
            Aligned with industry standards and in&nbsp;accordance with GIPS
            guidance
          </p>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer" id="footer">
    <div class="footer__content" id="contactUs">
      <h2 class="h2 h2_white">Contact us</h2>
      <div class="contact">
        <a class="contact__link email" href="mailto:contact@woltix.com">contact@woltix.com</a>
        <span>HDS Business Centre Tower Cluster, Dubai, United Arab Emirates</span>
      </div>
      <form action="https://send.pageclip.co/J3apqUgEMiWapr2MUAe81pPRVcOJ0Chs/contact-form" class="pageclip-form"
        method="post">
        <div class="inputs-inner">
          <div class="inputs-inner__item">
            <span class="label">Name *</span>
            <input class="pageclip-form__item input" type="text" name="name" value="" required />
          </div>

          <div class="inputs-inner__item">
            <span class="label">Email address *</span>
            <input class="pageclip-form__item input" type="email" name="email" value="" required />
          </div>

          <div class="inputs-inner__item">
            <span class="label">Message *</span>
            <textarea class="pageclip-form__item textarea" name="message" required></textarea>
          </div>
        </div>
        <button type="submit" class="btn pageclip-form__submit">
          <span>SUBMIT</span>
        </button>
      </form>
    </div>
    <div class="line"></div>
    {% include copyright.html %}
  </footer>
  <script src="/assets/js/index.js"></script>
  {% include cookie-consent.html %}
</body>

</html>